*{
    margin: 0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4efe1;
}

.sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    background-color: #DACCE6;
    transition:all 300ms ease-in-out;
}

.sidebar .toggle-btn{
    position: absolute;
    top: 10px;
    right: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar .toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ad9c65;
    transform:translateY(-50%);
    transition:all 300ms ease-in-out;
}

.sidebar .toggle-btn span:nth-child(1){
    top: 10%
}
.sidebar .toggle-btn span:nth-child(2){
    top: 50%
}

.sidebar .toggle-btn span:nth-child(3){
    top: 90%
}

.sidebar .links a{
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color:#595959;
    cursor: pointer;
    border-bottom:1px solid #450084;
}

.sidebar .links a.active,
.sidebar .links a:hover{
   background-color: #B599CE;
   color: #333333;
}

.sidebar .links a i{
   display: inline-block;
   margin-right:10px;
}

.sidebar .active{
    left:0px;
}

.sidebar .active .toggle-btn span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

.sidebar .active .toggle-btn span:nth-child(2){
    display:none;
}

.sidebar .active .toggle-btn span:nth-child(3){
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}
